@model IEnumerable<Tienda.Models.Producto>

@{
	ViewData["Title"] = "Productos";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	@if (TempData["MessageOk"] != null)
	{
		<div id="okMessage" class="alert alert alert-success mt-4">
			@TempData["MessageOk"]
		</div>
	}
	@if (TempData["MessageKo"] != null)
	{
		<div id="koMessage" class="alert alert-danger mt-4">
			@TempData["MessageKo"]
		</div>
	}
	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.codigo)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.nombre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.precio)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.codigo_fabricante)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.codigo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.precio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.codigo_fabricante)
					</td>
					<td>
						@Html.ActionLink("Detalles", "Detalles", new {  id=item.codigo })

					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
